cryptography==3.2.1
pyflakes
py2app
macholib
modulegraph
flake8
coverage
wheel
robotpy==2024.1.1.3
pyntcore==2024.*

#robotpy[ctre,navx,rev,sim,pathplannerlib,photonvision,playingwithfusion] == 2024.*

# If installed on OSX (joystick support) it seems to fail?
pyfrc == 2024.*
robotpy-halsim-gui
