cryptography==3.2.1
pyflakes
py2app
macholib
modulegraph
flake8
coverage
wheel

robotpy ==2023.*

# If installed on OSX (joystick support) it seems to fail?
pyfrc == 2023.*
robotpy-ctre == 2023.*
robotpy-navx == 2023.*
robotpy-rev == 2023.*
robotpy-halsim-gui
robotpy-wpilib-utilities == 2023.*
pynetworktables
opencv-python
pupil-apriltags
